<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>Shelters to Explore</h1>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm">
      <h2>Most Visited Shelter: <%= link_to Shelter.most_visited_shelter.name, Shelter.most_visited_shelter %> <%= Shelter.percentage_of_visitors %>%</h2>
    </div>
    <div class="col-sm">
      <h2>Highest Rated Shelter: <%= link_to Shelter.highest_rated_shelter.name, Shelter.highest_rated_shelter %> <%= Shelter.highest_rated_shelter.shelter_rating %>/10</h2>
    </div>
  </div>
</div>

<table class="table table-bordered table-hover">
<thead>
  <tr>
    <th>Shelter Name</th>
    <th>Trail Name</th>
    <th>Location on Trail</th>
    <th>Description</th>
    <th>Break</th>
  </tr>
</thead>

<tbody>
  <% @shelters.each do |shelter| %>
    <tr>
      <td><%= link_to shelter.name, shelter %></td>
      <td><%= link_to shelter.trail.name, shelter.trail%></td>
      <td><%= shelter.location %></td>
      <td><%= shelter.description %></td>
      <td><%= link_to "Start Break", new_break_path %></td>
    </tr>
  <% end %>
</tbody>

</table>
