<br>
<div class="col-sm-4">
<h1><%= @shelter.name %></h1>
<div class="img-fluid">

<ul class="list-group">

<li class="list-group-item">Location: <%= @shelter.location %></li>
<li class="list-group-item">Description: <%= @shelter.description %></li>
<li class="list-group-item">Shelter Rating: <%= @shelter.shelter_rating %></li>
<li class="list-group-item">Shelter Reviews: 

<% @shelter.review_blank.each do |review|%>
    <button type="button" class="btn btn-outline-warning"><%= review %></button></li>
<% end %>

</ul> 


<br><br>

<hr>


<button type="button" class="btn btn-outline-success"><%= link_to "All Shelters", shelters_path %></button>
