<br>
<div class="col-sm-4">
<h1><%= @shelter.name %></h1>
<div class="img-fluid">

<ul class="list-group">

<li class="list-group-item">Location: <%= @shelter.location %></li>
<li class="list-group-item">Description: <%= @shelter.description %></li>
<li class="list-group-item">Shelter Rating: <%= @shelter.shelter_rating %></li>
</ul>
</br>

<ul class="list-group">
<h5>Shelter Reviews:</h5>

<% @shelter.review_blank.each do |review|%>
    <li class="list-group-item"><%= review %></li>
<% end %>

</ul> 
<br>
<button type="button" class="btn btn-outline-info"><%= link_to "Start Break", new_break_path %></button>

<br><br>

<hr>


<button type="button" class="btn btn-outline-success"><%= link_to "All Shelters", shelters_path %></button>
