<h3>Start Time: </h3><%= @break.start_time %>
<h3>End Time: </h3><%= @break.end_time %>
<h3>Review: </h3><%= @break.review %><br><br>

<%= link_to "All Breaks", breaks_path %>
<%= link_to "Edit Breaks", edit_break_path(@break) %>
