<br>
<div class="col-sm-4">
<h2>Break Has Begun at <%= link_to @break.shelter.name %></h2>
<div class="img-fluid">

<ul class="list-group">
<li class="list-group-item">Start Time: <%= @break.start_time %></li>
<li class="list-group-item">End Time: <%= @break.end_time %></li>
<li class="list-group-item">Total Break Time: <%= @break.length_of_break %></li>
<li class="list-group-item">Review: <%= @break.review %></li>
<li class="list-group-item">Rating: <%= @break.rating %></li>

</ul>

<br>

<button type="button" class="btn btn-outline-danger"><%= link_to "End Break", edit_break_path(@break) %></button>
