<h2>Break Has Begun at <%= link_to @break.shelter.name %></h2>
<h3>Start Time: </h3><%= @break.start_time %>
<h3>End Time: </h3><%= @break.end_time %><br>
<h3>Total Break Time: </h3><%= @break.length_of_break %>
<h3>Review: </h3><%= @break.review %><br><br>
<h3>Rating: </h3><%= @break.rating %><br><br>


<%= link_to "End Break", edit_break_path(@break) %>
