<h2>Username: <%= @user.username %></h2>
<h3>Caption: <%= @user.caption %></h3>

<% if @user.photo.attached? %>
<h2>Profile Pic:</h2>
  <%= image_tag @user.photo %>
<% end %>

<h2>Gear: <%= @user.gear %></h2>
<h2> Shelters Visited: </h2>

<% @user.shelters_visited_by_user.uniq.each do |s| %>
<button type="button" class="btn btn-outline-warning"><%= link_to s.name, s %></button>
<% end %>


<h2>Favorite Shelter: <%= link_to @user.favorite_shelter.name, @user.favorite_shelter %></h2>
<h2>Favorite Trail: <%= link_to @user.favorite_trail.name, @user.favorite_trail %></h2>


<button type="button" class="btn btn-outline-success"><%= link_to "Explore Trails", trails_path %></button>
<button type="button" class="btn btn-outline-success"><%= link_to "View Other Hikers", users_path %></button><br><br><br>
<button type="button" class="btn btn-outline-success"><%= link_to "Update Your Profile", edit_user_path(@user) %></button><br><br><br><br><br>


<hr>
<%= form_tag @user, method: "DELETE" do %>
  <button type="button" class="btn btn-outline-danger"><%= submit_tag "Suspend Account" %></button>
<% end %></hr>
