<br>
<div class="col-sm-4">
<h1>Hike</h1>
<div class="img-fluid">

<ul class="list-group">
<li class="list-group-item">Hiker Username: <%= link_to @hike.user.username, @hike.user%></li>
<li class="list-group-item">Trail Name: <%= link_to @hike.trail.name, @hike.trail %></li>
<li class="list-group-item">Hike Rating: <%= @hike.rating %></li>
<li class="list-group-item">Hike Started At: <%= @hike.start_time %></li>
<li class="list-group-item">Hike Ended At: <%= @hike.status %></li>
<li class="list-group-item">Total Hike Time: <%= @hike.length_of_hike %></li>
<li class="list-group-item">Trail Length: <%= @hike.get_trail_length %></li>

<li class="list-group-item">Shelters on <%= @hike.trail.name %>:

  <% @hike.trail.shelters.each do |shelter| %>
  <%= link_to shelter.name, shelter %></li>
  <% end %>
</ul>


<% if @hike.status == "Pending" %>
<button type="button" class="btn btn-outline-success"><%= link_to "End Hike", edit_hike_path %></button>
<% else %>
<button type="button" class="btn btn-outline-success"><%= link_to "Return Home", current_user %></button>
<% end %>
