<br>
<div class="col-sm-4">
<h1><%= @trail.name %></h1>
<div class="img-fluid">

<ul class="list-group">
<li class="list-group-item">Description: <%= @trail.description %></li>
<li class="list-group-item">Distance: <%= @trail.distance %></li>
<li class="list-group-item">Difficulty Level: <%= @trail.difficulty_level %></li>
<li class="list-group-item">Hikes On Trail: <%= @trail.hikes_on_trail.count %></li>

<li class="list-group-item">Shelters on <%= @trail.name %>:

  <% @trail.shelters.each do |shelter| %>
  <button type="button" class="btn btn-outline-warning"><%= link_to shelter.name, shelter %></button></li>
  <% end %>


<li class="list-group-item">Previous Hikers
 
  <% @trail.users_on_trail.each do |user| %>
  <button type="button" class="btn btn-outline-warning"><%= link_to user.username, user %></button></li>
  <% end %>


</ul>
<hr>
<button type="button" class="btn btn-outline-success"><%= link_to "Back to trail list", trails_path %></button>
